body {
    background-color: white;
    font-family: "Georgia", "Times New Roman", Times, serif;
    color: #333333;
    margin: 0px;
    padding: 0px;
}

#container {
    background-color: #efeee7;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 40px;
    overflow: auto;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
}

#image-container {
    width: 200px;
    float: left;
    padding: 20px;
    margin: 10px;
}

#bio-image {
    width: 200px;
}

#main-bio {
    width: 40%;
    margin-top: 95px;
    float: left;
}

 #contact-info {
    width: 30%;
    padding-top: 20px;
    padding-left: 40px;
    margin-top: 10px;
    float: left;
}

.link {
    color: #d21034;
}